body::before {
    content: '';
    z-index: -1;
    position: fixed;
    background-image: url('../img/circle.png');
    background-repeat: no-repeat;
    left: -150px;
    top: -150px;
    width: 400px;
    height: 400px;
}

body::after {
    content: '';
    z-index: -1;
    position: fixed;
    background-image: url('../img/circle2.png');
    background-repeat: no-repeat;
    right: -150px;
    bottom: -150px;
    width: 400px;
    height: 400px;
}

body {
    background-color: #F9B558;
    background-image: linear-gradient(#e8e8e8a2 1.8px, transparent 1.8px), linear-gradient(to right, #e8e8e8a2 1.8px, #F9B558 1.8px);
    background-size: 36px 36px;
    background-position: center;
    height: 100vh;
    width: 100vw;
    font-size: 1.6rem;
    display: flex;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container-box {
    margin: auto;
    width: 95vw;
    height: 60.0rem;
    border: 5px solid rgba(0, 0, 0, 0.9);
    border-radius: 25px;
    background-color: #F9B558;
}

/* HEADER STYLES */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    height: 5.0rem;
    border-radius: 20px 20px 0 0;
    border-bottom: 4px solid black;
    padding: 0 30px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
}

header ul {
    display: flex;
    gap: 2.0rem;
}

header ul li {
    padding-top: 0.8rem;
    font-size: 3.0rem;
}

header ul li ion-icon {
    color: black;
    filter: drop-shadow(2px -1px 3px rgba(0, 0, 0, .4));
}

/* MAIN STYLES */
main {
    position: relative;
    padding: 0 1.0rem;
}

main h1 {
    text-align: center;
    line-height: 3.3rem;
    font-weight: 700;
    margin-top: 2.5rem;
    text-transform: uppercase;
    font-size: 4.0rem;
    color: #06995A;
    filter: drop-shadow(4px 0 2px rgba(0, 0, 0, .7));
}

main .input-container {
    margin-top: 2.2rem;
}

main .convert-from,
main .convert-for {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

main .convert-from label,
main .convert-for label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
select {
    width: 24.0rem;
    height: 5.0rem;
    font-size: 1.5rem;
    background: #FFFFFF;
    padding: 1.0rem 2.0rem;
    border: 1px solid #BBBBBB;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.4);
}

select {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.47945 11.4673C8.13023 11.4673 7.8309 11.3176 7.63135 11.0682L2.69243 5.53062C2.3931 5.13152 2.44299 4.53286 2.84209 4.23353C3.24119 3.9342 3.78996 3.9342 4.08929 4.33331L8.37967 9.22234C8.42956 9.27223 8.47945 9.27223 8.57922 9.22234L12.8696 4.33331C13.2188 3.9342 13.7676 3.88432 14.1667 4.23353C14.5658 4.58275 14.6157 5.13152 14.2665 5.53062C14.2665 5.53062 14.2665 5.53062 14.2166 5.58051L9.32754 11.1181C9.12799 11.3176 8.77877 11.4673 8.47945 11.4673Z' fill='%235E616B'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px top 50%;
}

input {
    border-radius: 0 0 4px 4px;
}

select {
    border-radius: 4px 4px 0 0;
}

select,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
}

main .convert-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .convert-button button {
    margin-top: 1.0rem;
    width: 24.0rem;
    height: 4.5rem;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.9);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    background-color: #D880AA;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

main .convert-button button:hover {
    background-color: #c26793;
    transition: .3s;
}